.container{
    position: fixed; //IL CONTAINER SARà TUTTO LO SCHERMO IN POSITION FIXED 
    top: 0px;
    left: 0px;
    // top: 30px;
    // left: 30px;
    width: 100vw; //occupa tutta la width
    height: 100vh; //occupa tutta la height
    background-color: rgba(0, 0, 0, 0.452);
    display: flex;
    align-items: center;
    justify-content: center;

}

.dialog{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 8px;
    box-shadow: -10px 0px 24px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -10px 0px 24px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 0px 24px 0px rgba(0,0,0,0.75);
}